<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>signin</title>
    <link rel="stylesheet" href="{{url_for('static', path='css/app.css')}}" />
    <link rel="stylesheet" type="text/css" href="{{url_for('static', path='vendor/toastify.css')}}" />
  </head>
  <body>
    {% extends "base.html" %} {% block content %}
    <div class="flex min-h-full flex-col justify-center px-6 py-10 lg:px-8">
      <div class="sm:mx-auto sm:w-full sm:max-w-sm">
        <img src="{{url_for('assets', path='logo-3.png')}}" alt="" class="h-20 w-auto mx-auto block" />
        <h2 class="text-center text-2xl/9 font-bold tracking-tight text-gray-900">Sign in</h2>
        <p class="mt-2 text-center text-sm text-gray-600 dark:text-neutral-400">
          Don't have an account yet?
          <a class="text-blue-600 decoration-2 hover:underline focus:outline-hidden focus:underline font-medium dark:text-blue-500" href="/signup"> Sign up here </a>
        </p>
      </div>

      <div class="mt-10 mx-auto w-full max-w-xs sm:max-w-sm">
        <form action="/signin" method="POST" class="space-y-6">
          <div>
            <label for="username" class="block text-sm/6 font-medium text-gray-900">Username</label>
            <div class="mt-2">
              <input
                id="username"
                type="text"
                name="username"
                required
                class="py-2.5 sm:py-3 px-4 block w-full border-gray-200 rounded-lg sm:text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-900 dark:border-neutral-700 dark:text-neutral-400 dark:placeholder-neutral-500 dark:focus:ring-neutral-600"
                placeholder="Enter username"
                value="{{username}}"
              />
            </div>
          </div>

          <div>
            <div class="flex items-center justify-between">
              <label for="password" class="block text-sm/6 font-medium text-gray-900">Password</label>
              <div class="text-sm">
                <a href="/forgot_password" class="text-blue-600 decoration-2 hover:underline focus:outline-hidden focus:underline font-medium dark:text-blue-500">Forgot password?</a>
              </div>
            </div>

            <!-- Wrapper untuk input + button toggle -->
            <div class="relative mt-2">
              <input
                id="password"
                type="password"
                name="password"
                required
                class="py-2.5 sm:py-3 px-4 block w-full border-gray-200 rounded-lg sm:text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-900 dark:border-neutral-700 dark:text-neutral-400 dark:placeholder-neutral-500 dark:focus:ring-neutral-600"
                placeholder="Enter password"
                value="{{password}}"
              />

              <!-- Tombol toggle (Preline UI) -->
              <button type="button" data-hs-toggle-password='{"target": "#password"}' class="absolute inset-y-0 end-0 flex items-center px-3 text-gray-500 focus:outline-none cursor-pointer">
                <!-- Ikon Mata (toggle eye) -->
                <svg class="hs-password-active:hidden size-5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                  <path d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
                  <path d="M2.458 12C3.732 7.943 7.523 5 12 5c4.477 0 8.268 2.943 9.542 7-1.274 4.057-5.065 7-9.542 7-4.477 0-8.268-2.943-9.542-7z" />
                </svg>
                <svg class="hs-password-active:block hidden size-5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="blue">
                  <path d="M13.875 18.825A10.05 10.05 0 0112 19c-5 0-9.167-3.333-10.5-7 0-.8.2-1.5.5-2.1m3.2-3.5A9.934 9.934 0 0112 5c5 0 9.167 3.333 10.5 7a9.74 9.74 0 01-4.55 5.4M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
                  <path d="M3 3l18 18" />
                </svg>
              </button>
            </div>

            {% if error %}
            <p class="block text-sm/6 font-medium text-red-600 error-message">{{error}}</p>
            {% endif %}
          </div>

          <div>
            <button
              type="submit"
              class="w-full py-3 px-4 inline-flex justify-center items-center gap-x-2 text-sm font-medium rounded-lg border border-transparent bg-blue-600 text-white hover:bg-blue-700 focus:outline-hidden focus:bg-blue-700 disabled:opacity-50 cursor-pointer"
            >
              Sign in
            </button>
          </div>
        </form>
      </div>
    </div>
    <script src="{{url_for('static', path='js/preline.js')}}"></script>
    <script src="{{url_for('static', path='js/reset-value.js')}}"></script>
    {% endblock %}
  </body>
</html>
